In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
dados_esoph = pd.read_csv('esoph.csv')

In [3]:
dados_esoph.head()

   agegp      alcgp     tobgp  ncases  ncontrols
0  25-34  0-39g/day  0-9g/day       0         40
1  25-34  0-39g/day     10-19       0         10
2  25-34  0-39g/day     20-29       0          6
3  25-34  0-39g/day       30+       0          5
4  25-34      40-79  0-9g/day       0         27